<!DOCTYPE html>
<html lang="en">
<head>
  <title>Max Store (О нас)</title>
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat%7CRoboto:100,300,400,500,700,900%7CRoboto+Condensed:100,300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/icon-font-linea.css">
  <link rel="stylesheet" type="text/css" href="css/multirange.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="css/themify-icons.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/effect.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/about.css">
  <link rel="stylesheet" type="text/css" href="css/owl.theme.default.css">
  <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
  <link rel="stylesheet" type="text/css" href="css/responsive.css">
</head>
<body>
<div class="wrappage">
  <header class="relative full-width">
    <div class=" container-web relative">
      <div class=" container">
        <div class="row">
          <div class=" header-top">
            <p class="contact_us_header col-md-4 col-xs-12 col-sm-3 clear-margin">
              <img src="img/icon_phone_top.png" /> Позвоните нам <span class="text-red bold">8-000-000-00-00</span>
            </p>
            <div class="menu-header-top text-right col-md-8 col-xs-12 col-sm-6 clear-padding">
              <ul class="clear-margin">
                <li class="relative"><a href="/">На главную</a></li>
                <li class="relative"><a href="">Корзина</a></li>
                <li class="relative">
                  <a >RU</a>
                </li>
                <li class="relative">
                  <a >РУБ (₽)</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="clearfix header-content full-width relative">
            <div class="clearfix icon-menu-bar">
              <i class="data-icon data-icon-arrows icon-arrows-hamburger-2 icon-pushmenu js-push-menu"></i>
            </div>
            <div class="clearfix logo">
              <a href="/"><img  src="img/logo.png" /></a>
            </div>
            <div class="clearfix search-box relative float-left">
              <p>ВАШ ЛУЧШИЙ МАГАЗИН ЦВЕТОВ  |  ОГРОМНЫЙ ВЫБОР  | ЦВЕТЫ И СОПУТСТВУЮЩИЙ ТОВАР </p>
            </div>
            <div class="clearfix icon-search-mobile absolute">
              <i onclick="showBoxSearchMobile()" class="data-icon data-icon-basic icon-basic-magnifier"></i>
            </div>
            <div class="clearfix cart-website absolute" onclick="showCartBoxDetail()">
              <img  src="img/icon_cart.png" />
              <p class="count-total-shopping absolute">0</p>
            </div>
            <div class="cart-detail-header border">
              <div class="relative border no-border-l no-border-r total-cart-header">
                <p class="bold clear-margin">Общая стоимость:</p>
                <p class=" clear-margin bold">₽0</p>
              </div>
              <div class="relative btn-cart-header">
                <a href="/404" class="uppercase bold animate-default">В корзину</a>
                <a href="/category_all" class="uppercase bold button-hover-red animate-default">Все товары</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-header-v3 hidden-ipx">
      <div class="container">
        <div class="row">
          <div class="menu-header full-width">
            <ul class="clear-margin">
              <li onclick="showMenuHomeV3()"><a class="animate-default" href="#"><i class="fa fa-list" aria-hidden="true"></i> Страница "О нас"</a></li>
              <li class="title-hover-red">
                <a class="animate-default" href="/">Главная</a>
              </li>
              <li class="title-hover-red">
                <a class="animate-default" href="/">Магазин</a>
              </li>
              <li class="title-hover-red">
                <a class="animate-default" >Информация</a>
                <ul>
                  <li class="title-hover-red"><a class="animate-default" href="/about">О нас</a></li>
                  <li class="title-hover-red"><a class="animate-default" href="/contact">Наши контакты</a></li>
                  <li class="title-hover-red"><a class="animate-default" href="/404">404</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="header-ontop">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="clearfix logo">
              <a href="#"><img  src="img/logo.png" /></a>
            </div>
          </div>
          <div class="col-md-9">
            <div class="menu-header">
              <ul class="main__menu clear-margin">
                <li class="title-hover-red">
                  <a class="animate-default" href="/">Главная</a>
                </li>
                <li class="title-hover-red">
                  <a class="animate-default" href="/">Магазин</a>
                </li>
                <li class="title-hover-red">
                  <a class="animate-default" >Информация</a>
                  <ul>
                    <li class="title-hover-red"><a class="animate-default" href="/about">О нас</a></li>
                    <li class="title-hover-red"><a class="animate-default" href="/contact">Наши контакты</a></li>
                    <li class="title-hover-red"><a class="animate-default" href="/404">404</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="relative full-width">
    <div class="container-web relative">
      <div class="container">
        <div class="row">
          <div class="breadcrumb-web">
            <ul class="clear-margin">
              <li class="animate-default title-hover-red"><a href="/">Главная</a></li>
              <li class="animate-default title-hover-red"><a href="/about">О нас</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="relative container-web">
      <div class="container">
        <div class="row ">
          <div class="full-width banner-about relative center-vertical-image bottom-margin-default overfollow-hidden">
            <img src="img/banner_about-min.png"  />
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 text-intro relative top-margin-default bottom-margin-default">
            <p>Букет – уникальный подарок. С помощью этого жеста внимания можно продемонстрировать глубину чувств, подчеркнуть степень уважения или просто поднять настроение на целый день. В нашем интернет-магазине можно в удобное время купить цветы с доставкой в день заказа для любого события. Букет, украшение для праздника или хрупкую цветочную композицию доставим бережно, в точно назначенное время и недорого. Предлагаем два удобных варианта доставки букетов: в течение всего дня с момента оформления заказа, а также заказ цветов к назначенному времени. Развитая сеть магазинов по всей Москве дают возможность заказать цветы действительно быстро и просто.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 relative">
            <div class="col-md-3 col-sm-3 col-xs-6 relative total-number-about">
              <p class="Count">3900</p>
              <p>УНИКАЛЬНЫХ ТОВАРОВ</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 relative total-number-about">
              <p class="Count">33100</p>
              <p>ДОВОЛЬНЫХ ПОКУПАТЕЛЕЙ</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 relative total-number-about">
              <p class="Count">1339</p>
              <p>НАГРАД</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 relative total-number-about">
              <p class="Count">3000</p>
              <p>СОТРУДНИКОВ</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 relative list-lib-image-about">
            <ul class="clear-margin">
              <li class="center-vertical-image banners-effect5 relative overfollow-hidden"><img src="img/image_lib_1-min.png"  /><a href="https://vk.com/mega_destroy"></a></li>
              <li class="center-vertical-image banners-effect5 relative overfollow-hidden"><img src="img/image_lib_2-min.png" /><a href="https://vk.com/mega_destroy"></a></li>
              <li class="center-vertical-image banners-effect5 relative overfollow-hidden"><img src="img/image_lib_3-min.png"  /><a href="https://vk.com/mega_destroy"></a></li>
              <li class="center-vertical-image banners-effect5 relative overfollow-hidden"><img src="img/image_lib_4-min.png"  /><a href="https://vk.com/mega_destroy"></a></li>
              <li class="center-vertical-image banners-effect5 relative overfollow-hidden"><img src="img/image_lib_5-min.png"  /><a href="https://vk.com/mega_destroy"></a></li>
              <li class="center-vertical-image banners-effect5 relative overfollow-hidden"><img src="img/image_lib_6-min.png"  /><a href="https://vk.com/mega_destroy"></a></li>
              <li class="center-vertical-image banners-effect5 relative overfollow-hidden"><img src="img/image_lib_7-min.png" /><a href="https://vk.com/mega_destroy"></a></li>
              <li class="center-vertical-image banners-effect5 relative overfollow-hidden"><img src="img/image_lib_8-min.png"  /><a href="https://vk.com/mega_destroy"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class=" support-box full-width bg-red support_box_v2">
      <div class="container-web">
        <div class=" container">
          <div class="row">
            <div class=" support-box-info relative col-md-3 col-sm-3 col-xs-6">
              <img src="img/icon_free_ship_white-min.png" class="absolute" />
              <p>бесплатная доставка</p>
              <p>при заказе от ₽500</p>
            </div>
            <div class=" support-box-info relative col-md-3 col-sm-3 col-xs-6">
              <img src="img/icon_support_white-min.png"  class="absolute">
              <p>поддержка</p>
              <p> 24/7</p>
            </div>
            <div class=" support-box-info relative col-md-3 col-sm-3 col-xs-6">
              <img src="img/icon_patner_white-min.png"  class="absolute">
              <p>консультант</p>
              <p>помощь по любым вопросам</p>
            </div>
            <div class=" support-box-info relative col-md-3 col-sm-3 col-xs-6">
              <img src="img/icon_phone_table_white-min.png" class="absolute">
              <p>связаться с нами</p>
              <p>https://vk.com/mega_destroy</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="relative full-width">
    <div class=" top-footer full-width">
      <div class="clearfix container-web relative">
        <div class=" container">
          <div class="row">
            <div class="clearfix col-md-9 col-sm-12 clear-padding col-xs-12">
              <div class="clearfix text-subscribe text-subscribe">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <p>подписаться на рассылку</p>
                <p>Сообщения о скидках и купонах</p>
              </div>
              <div class="clearfix form-subscribe">
                <form name="subscription_form"  onsubmit="return mail_form ( );">
                  <input type="text" name="email_subscribe" placeholder="Введите свой email . . ." required pattern="\S+@[a-z]+.[a-z]+" autocomplete="off" >
                  <button value="Alert"  class="animate-default button-hover-red">отправить</button>
                </form>
                </div>
            </div>
            <div class="clearfix col-md-3 col-sm-12 col-xs-12 clear-padding social-box text-right">
              <a href="https://vk.com/mega_destroy"><img src="img/social_tw-min.png" alt="Icon Social Twiter"></a>
              <a href="https://vk.com/mega_destroy"><img src="img/social_vk-min.png" alt="Icon Social Vkontakte"></a>
              <a href="https://vk.com/mega_destroy"><img src="img/social_fa-min.png" alt="Icon Social Facebook"></a>
              <a href="https://vk.com/mega_destroy"><img src="img/social_int-min.png" alt="Icon Social Instagram"></a>
              <a href="https://vk.com/mega_destroy"><img src="img/social_yt-min.png" alt="Icon Social Youtube" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix container-web relative">
      <div class=" container clear-padding">
        <div class="row">
          <div class="clearfix col-md-3 col-sm-6 col-xs-12 text-footer">
            <p>мой аккаунт</p>
            <ul class="list-footer">
              <li><a href="/404">Моя корзина</a></li>
            </ul>
          </div>
          <div class="clearfix col-md-3 col-sm-6 col-xs-12 text-footer">
            <p>информация</p>
            <ul class="list-footer">
              <li><a href="/about">О нас</a></li>
              <li><a href="/contact">Наши контакты</a></li>
              <li><a href="/404">404</a></li>
            </ul>
          </div>
          <div class="clearfix col-md-3 col-sm-6 col-xs-12 text-footer">
            <p>наши услуги</p>
            <ul class="list-footer">
              <li><a href="/category_all">Все товары</a></li>
            </ul>
          </div>
          <div class="clearfix col-md-3 col-sm-6 col-xs-12 text-footer">
            <p>Наши контакты</p>
            <ul class="icon-footer">
              <li><i class="fa fa-home" aria-hidden="true"></i> Проспект Вернадского, 82, Москва</li>
              <li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="https://vk.com/mega_destroy">https://vk.com/mega_destroy</a></li>
              <li><i class="fa fa-phone" aria-hidden="true"></i> 8-000-000-00-00</li>
              <li><i class="fa fa-fax" aria-hidden="true"></i> 8-(496)-000-00-00</li>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 18:00</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class=" bottom-footer full-width">
      <div class="clearfix container-web">
        <div class=" container">
          <div class="row">
            <div class="clearfix col-md-7 clear-padding copyright">
              <p>Авторские права © 2022 Бычков Максим. Все права защищены.</p>
            </div>
            <div class="clearfix footer-icon-bottom col-md-5 float-right clear-padding">
              <div class="icon_logo_footer float-right">
                <img src="img/image_payment_footer-min.png" >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
<script src="js/jquery-3.3.1.min.js" defer=""></script>
<script src="js/bootstrap.min.js" defer=""></script>
<script src="js/owl.carousel.min.js" defer=""></script>
<script src="js/sync_owl_carousel.js" defer=""></script>
<script src="js/scripts.js" defer=""></script>
</body>
</html>
