<!DOCTYPE html>
<html lang="en">
<head>
	<title>Max Store (Наши Контакты)</title>
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat%7CRoboto:100,300,400,500,700,900%7CRoboto+Condensed:100,300,400,500,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/icon-font-linea.css">
	<link rel="stylesheet" type="text/css" href="css/multirange.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="css/themify-icons.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/effect.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/contact.css">
	<link rel="stylesheet" type="text/css" href="css/owl.theme.default.css">
	<link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="css/responsive.css">
</head>
<body>
	<div class="wrappage">
        <header class="relative full-width">
            <div class=" container-web relative">
                <div class=" container">
                    <div class="row">
                        <div class=" header-top">
                            <p class="contact_us_header col-md-4 col-xs-12 col-sm-3 clear-margin">
                                <img src="img/icon_phone_top.png" />Позвоните нам <span class="text-red bold">8-000-000-00-00</span>
                            </p>
                            <div class="menu-header-top text-right col-md-8 col-xs-12 col-sm-6 clear-padding">
                                <ul class="clear-margin">
                                    <li class="relative"><a href="/">На главную</a></li>
                                    <li class="relative"><a href="/404">Корзина</a></li>
                                    <li class="relative">
                                      <a >RU</a>
                                    </li>
                                    <li class="relative">
                                        <a >РУБ (₽)</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="clearfix header-content full-width relative">
                            <div class="clearfix icon-menu-bar">
                                <i class="data-icon data-icon-arrows icon-arrows-hamburger-2 icon-pushmenu js-push-menu"></i>
                            </div>
                            <div class="clearfix logo">
                                <a href="/"><img  src="img/logo.png" /></a>
                            </div>
                            <div class="clearfix search-box relative float-left">
                              <p>ВАШ ЛУЧШИЙ МАГАЗИН ЦВЕТОВ  |  ОГРОМНЫЙ ВЫБОР  | ЦВЕТЫ И СОПУТСТВУЮЩИЙ ТОВАР </p>
                            </div>
                            <div class="clearfix icon-search-mobile absolute">
                                <i onclick="showBoxSearchMobile()" class="data-icon data-icon-basic icon-basic-magnifier"></i>
                            </div>
                            <div class="clearfix cart-website absolute" onclick="showCartBoxDetail()">
                                <img  src="img/icon_cart.png" />
                                <p class="count-total-shopping absolute">0</p>
                            </div>
                            <div class="clearfix cart-website absolute" onclick="showCartBoxDetail()">
                                <img  src="img/icon_cart.png" />
                                <p class="count-total-shopping absolute">0</p>
                            </div>
                            <div class="mask-search absolute clearfix" onclick="hiddenBoxSearchMobile()"></div>
                            <div class="clearfix box-search-mobile">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-header-v3 hidden-ipx">
                <div class="container">
                    <div class="row">
                        <div class="menu-header full-width">
                            <ul class="clear-margin">
                                <li onclick="showMenuHomeV3()"><a class="animate-default" href="#"><i class="fa fa-list" aria-hidden="true"></i> Все страницы</a></li>
                                <li class="title-hover-red">
                                    <a class="animate-default" href="/">Главная</a>
                                </li>
                                <li class="title-hover-red">
                                    <a class="animate-default">Магазин</a>
                                    <div class="sub-menu mega-menu-v2">
                                        <ul>
                                            <li>Цветы</li>
                                            <li class="title-hover-red"><a class="animate-default clear-padding" href="/404">Свадебные букеты</a></li>
                                            <li class="title-hover-red"><a class="animate-default clear-padding" href="/404">Любимые букеты</a></li>
                                            <li class="title-hover-red"><a class="animate-default clear-padding" href="/404">Съедобные букеты</a></li>
                                            <li class="title-hover-red"><a class="animate-default clear-padding" href="/404">Корзинки</a></li>
                                        </ul>
                                        <ul>
                                            <li>Другие товары</li>
                                            <li class="title-hover-red"><a class="animate-default clear-padding" href="/404">Подарочные игрушки</a></li>
                                            <li class="title-hover-red"><a class="animate-default clear-padding" href="/404">Свечи и открытки</a></li>
                                        </ul>
                                        <ul>
                                            <li>Это удобно</li>
                                            <li class="title-hover-red"><a class="animate-default clear-padding" href="/404">Все товары</a></li>
                                            <li class="title-hover-red"><a class="animate-default clear-padding" href="/404">Распродажа</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="title-hover-red">
                                    <a class="animate-default" >Информация</a>
                                    <ul>
                                        <li class="title-hover-red"><a class="animate-default" href="/about">о нас</a></li>
                                        <li class="title-hover-red"><a class="animate-default" href="/contact">Наши контакты</a></li>
                                        <li class="title-hover-red"><a class="animate-default" href="/404">404</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix menu_more_header menu-web menu-bg-white">
                <ul>
                    <li><a href="/category_all"><img src="img/icon_hot_gray.png"  /> <p>Все товары</p></a></li>
                    <li><a href="/404"><img src="img/icon_health_gray.png" /> <p>Любимые букеты</p></a></li>
                    <li><a href="/404"><img src="img/icon_fashion_gray.png" /> <p>Свадебные букеты</p></a></li>
                    <li><a href="/404"><img src="img/icon_mother_gray.png"  /> <p>Съедобные букеты</p></a></li>
                    <li><a href="/404"><img src="img/icon_auto_gray.png"  /> <p>Все для праздника</p></a></li>
                    <li><a href="/404"><img src="img/icon_sport_gray.png"  /> <p>Подарки</p></a></li>
                    <li><a href="/404"><img src="img/icon_home_gray.png" /> <p>Мягкие игрушки</p></a></li>
                    <li><a href="/404"><img src="img/icon_voucher_gray.png" /> <p>Распродажа</p></a></li>
                    <li><a href="/404"><img src="img/icon_book_gray.png"  /> <p>Корзина</p></a></li>
                    <li><a href="/about"><img src="img/icon_book_gray.png"  /> <p>О нас</p></a></li>
                    <li><a href="/contact"><img src="img/icon_book_gray.png"  /> <p>Наши контакты</p></a></li>
                    <li><a href="/404"><img src="img/icon_book_gray.png"  /> <p>404</p></a></li>
                    <li><a href="/"><img src="img/icon_book_gray.png"  /> <p>На главную</p></a></li>
                </ul>
            </div>
            <div class="header-ontop">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="clearfix logo">
                                <a href="/"><img  src="img/logo.png" /></a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="menu-header">
                                <ul class="main__menu clear-margin">
                                    <li class="title-hover-red">
                                        <a class="animate-default" href="/">Главная</a>
                                    </li>
                                    <li class="title-hover-red">
                                        <a class="animate-default" >Магазин</a>
                                        <div class="sub-menu mega-menu-v2">
                                            <ul>
                                                <li>Цветы</li>
                                                <li class="title-hover-red"><a class="animate-default clear-padding" href="/404">Свадебные букеты</a></li>
                                                <li class="title-hover-red"><a class="animate-default clear-padding" href="/404">Любимые букеты</a></li>
                                                <li class="title-hover-red"><a class="animate-default clear-padding" href="/404">Съедобные букеты</a></li>
                                                <li class="title-hover-red"><a class="animate-default clear-padding" href="/404">Корзинки</a></li>
                                            </ul>
                                            <ul>
                                                <li>Другие товары</li>
                                                <li class="title-hover-red"><a class="animate-default clear-padding" href="/404">Подарочные игрушки</a></li>
                                                <li class="title-hover-red"><a class="animate-default clear-padding" href="/404">Свечи и открытки</a></li>
                                            </ul>
                                            <ul>
                                                <li>Это удобно</li>
                                                <li class="title-hover-red"><a class="animate-default clear-padding" href="/404">Все товары</a></li>
                                                <li class="title-hover-red"><a class="animate-default clear-padding" href="/404">Распродажа</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="title-hover-red">
                                        <a class="animate-default" >Информация</a>
                                        <ul>
                                            <li class="title-hover-red"><a class="animate-default" href="/about">О нас</a></li>
                                            <li class="title-hover-red"><a class="animate-default" href="/contact">наши контакты</a></li>
                                            <li class="title-hover-red"><a class="animate-default" href="/404">404</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
	<div class="relative full-width">
		<div class="container-web relative">
			<div class="container">
				<div class="row">
					<div class="breadcrumb-web">
						<ul class="clear-margin">
							<li class="animate-default title-hover-red"><a href="/">Главная</a></li>
							<li class="animate-default title-hover-red"><a href="/contact">Наши Контакты</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="relative container-web">
			<div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2250.095733917298!2d37.47810585165618!3d55.66993538043571!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54dc1d23b51c3%3A0x74763ed59c81ccb6!2z0KDQotCjINCc0JjQoNCt0JA!5e0!3m2!1sru!2sru!4v1604660788593!5m2!1sru!2sru" width="1200" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <div class="col-md-6 relative contact-info col-sm-12 col-xs-12">
						<div class="row">
							<p class="title-contact bold bottom-margin-default">Контактная информация</p>
							<div class="relative clearfix row-info-contact full-width bottom-margin-default">
								<div class="relative left-row-info-contact">
									<img src="img/icon_office-min.png"  />
								</div>
								<div class="relative right-row-info-contact">
									<p class="bold name-row-contact">Главный офис</p>
									<p>РФ, Москва, Проспект Вернадского, 72, корпус А</p>
									<p>Горячая линия: <a href="">8-000-000-00-00</a></p>
									<p>Факс: <a href="">(000) 0000 000</a></p>
									<p>Email: <a href="mailto:microsoftcraft@mail.ru">microsoftcraft@mail.ru</a></p>
								</div>
							</div>
							<div class="relative clearfix row-info-contact full-width bottom-margin-default top-margin-15-default">
								<div class="relative left-row-info-contact">
									<img src="img/icon_point_map-min.png"  />
								</div>
								<div class="relative right-row-info-contact">
									<p class="bold name-row-contact">Офис продаж</p>
									<p>Рф, МО, Серпухов</p>
									<p>Горячая линия: <a href="">8-000-000-00-00</a></p>
									<p>Факс: <a href="">(00) 0000 0000</a></p>
									<p>Email: <a href="mailto:microsoftcraft@mail.ru">microsoftcraft@mail.ru</a></p>
								</div>
							</div>
							<div class="relative clearfix row-info-contact full-width bottom-margin-default top-margin-15-default">
								<div class="relative left-row-info-contact">
								</div>
								<div class="relative right-row-info-contact">
									<p>РФ, Москва, Проспект Вернадского, 72,</p>
									<p>Горячая линия: <a href="">8-000-000-00-00</a></p>
									<p>Факс: <a href="">(000) 0000 0000</a></p>
									<p>Email: <a href="mailto:microsoftcraft@mail.ru">microsoftcraft@mail.ru</a></p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 relative contact-info col-sm-12 col-xs-12">
						<div class="row">
							<p class="title-contact bold bottom-margin-default">Отправить сообщение</p>
							<div class="relative full-width form-contact">
								<form name="message_form"  onsubmit="return contact_form ( );" method="POST"  class="form-placeholde-animate">
						            <div class="field-wrap">
							            <label>
							            	Ваше имя<span class="req">*</span>
							            </label>
							            <input type="text" name="name" required pattern="[A-Za-zА-Яа-яЁё]{}" autocomplete="off" />
						            </div>
						            <div class="field-wrap">
							            <label>
							            	Номер телефона<span class="req">*</span>
							            </label>
							            <input type="text" name="phone" required autocomplete="off" />
						            </div>
						            <div class="field-wrap">
							            <label>
							            	Ваш email<span class="req">*</span>
							            </label>
							            <input type="text" name="email" pattern="\S+@[a-z]+.[a-z]+" required autocomplete="off" />
						            </div>
						            <div class="field-wrap">
							            <label>
							            	Текст сообщения<span class="req">*</span>
							            </label>
							            <textarea required name="message" rows="6" autocomplete="off"></textarea>
						            </div>
						            <button type="submit" value="Alert"  class="uppercase animate-default button-hover-red">Отправить</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class=" support-box full-width bg-red support_box_v2">
			<div class="container-web">
				<div class=" container">
					<div class="row">
						<div class=" support-box-info relative col-md-3 col-sm-3 col-xs-6">
							<img src="img/icon_free_ship_white-min.png"  class="absolute" />
							<p>Бесплатная доставка</p>
							<p>ПРИ ЗАКАЗЕ ОТ ₽500</p>
						</div>
						<div class=" support-box-info relative col-md-3 col-sm-3 col-xs-6">
							<img src="img/icon_support_white-min.png"  class="absolute">
							<p>ПОДДЕРЖКА</p>
							<p>24/7</p>
						</div>
						<div class=" support-box-info relative col-md-3 col-sm-3 col-xs-6">
							<img src="img/icon_patner_white-min.png"  class="absolute">
							<p>КОНСУЛЬТАНТ</p>
							<p>ПОМОЩЬ ПО ЛЮБЫМ ВОПРОСАМ</p>
						</div>
						<div class=" support-box-info relative col-md-3 col-sm-3 col-xs-6">
							<img src="img/icon_phone_table_white-min.png"  class="absolute">
							<p>СВЯЗАТЬСЯ С НАМИ</p>
							<p>HTTPS://VK.COM/MEGA_DESTROY</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <footer class="relative full-width">
      <div class=" top-footer full-width">
        <div class="clearfix container-web relative">
          <div class=" container">
            <div class="row">
              <div class="clearfix col-md-9 col-sm-12 clear-padding col-xs-12">
                <div class="clearfix text-subscribe text-subscribe">
                  <i class="fa fa-envelope-o" aria-hidden="true"></i>
                  <p>подписаться на рассылку</p>
                  <p>Сообщения о скидках и купонах</p>
                </div>
                <div class="clearfix form-subscribe">
                    <form name="subscription_form"  onsubmit="return mail_form ( );">
                        <input type="text" name="email_subscribe" placeholder="Введите свой email . . ." required pattern="\S+@[a-z]+.[a-z]+" autocomplete="off" >
                        <button value="Alert"  class="animate-default button-hover-red">отправить</button>
                    </form>
                  </div>
              </div>
              <div class="clearfix col-md-3 col-sm-12 col-xs-12 clear-padding social-box text-right">
                <a href="https://vk.com/mega_destroy"><img src="img/social_tw-min.png" alt="Icon Social Twiter"></a>
                <a href="https://vk.com/mega_destroy"><img src="img/social_vk-min.png" alt="Icon Social Vkontakte"></a>
                <a href="https://vk.com/mega_destroy"><img src="img/social_fa-min.png" alt="Icon Social Facebook"></a>
                <a href="https://vk.com/mega_destroy"><img src="img/social_int-min.png" alt="Icon Social Instagram"></a>
                <a href="https://vk.com/mega_destroy"><img src="img/social_yt-min.png" alt="Icon Social Youtube" /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix container-web relative">
        <div class=" container clear-padding">
          <div class="row">
            <div class="clearfix col-md-3 col-sm-6 col-xs-12 text-footer">
              <p>мой аккаунт</p>
              <ul class="list-footer">
                <li><a href="/404">Моя корзина</a></li>
              </ul>
            </div>
            <div class="clearfix col-md-3 col-sm-6 col-xs-12 text-footer">
              <p>информация</p>
              <ul class="list-footer">
                <li><a href="/about">О нас</a></li>
                <li><a href="/contact">Наши контакты</a></li>
                <li><a href="/404">404</a></li>
              </ul>
            </div>
            <div class="clearfix col-md-3 col-sm-6 col-xs-12 text-footer">
              <p>наши услуги</p>
              <ul class="list-footer">
                <li><a href="/category_all">Все товары</a></li>
              </ul>
            </div>
            <div class="clearfix col-md-3 col-sm-6 col-xs-12 text-footer">
              <p>Наши контакты</p>
              <ul class="icon-footer">
                <li><i class="fa fa-home" aria-hidden="true"></i> Проспект Вернадского, 82, Москва</li>
                <li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="https://vk.com/mega_destroy">https://vk.com/mega_destroy</a></li>
                <li><i class="fa fa-phone" aria-hidden="true"></i> 8-000-000-00-00</li>
                <li><i class="fa fa-fax" aria-hidden="true"></i> 8-(496)-000-00-00</li>
                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 18:00</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <div class=" bottom-footer full-width">
      <div class="clearfix container-web">
        <div class=" container">
          <div class="row">
            <div class="clearfix col-md-7 clear-padding copyright">
              <p>Авторские права © 2022 Бычков Максим. Все права защищены.</p>
            </div>
            <div class="clearfix footer-icon-bottom col-md-5 float-right clear-padding">
              <div class="icon_logo_footer float-right">
                <img src="img/image_payment_footer-min.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	</footer>
</div>
	<script src="js/jquery-3.3.1.min.js" defer=""></script>
	<script src="js/bootstrap.min.js" defer=""></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCR8GCPpAFKo4Dke4SsPGcao1NKnn25OQA&v=3.31&callback=initMap" defer=""></script>
	<script src="js/owl.carousel.min.js" defer=""></script>
	<script src="js/scripts.js" defer=""></script>
</body>
</html>
